.trendbar {
    display: flex;
    align-items: center;
    height: 75px;
    flex: 1;
}

.trendbar-title {
    padding: 0px 10px 4px 20px;
    font-size: 30px;
}

.trendbar-options {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;

    margin-left: 50px;
}

.centered {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trendbar-loading {
    position: absolute;
    text-align: center;
    align-items: center;
}

.trendbar-loading p {
    font-size: 16px;
    color: #080d17;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.trendbar-loading .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #080d17;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}