.navbar {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #080d17;
}

.navbar-item {
    color: #F0F0F0;
    background-color: #080d17;
    font-size: 18px;
    font-weight: 600;
    margin: 0px 14px 10px;
    border-radius: 10px;
    flex: 1;
}

.divider {
    margin: 15px 10px 15px;
}