.trend-graph-option-selected {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(55 48 163);
    border-radius: 20px;

    background-color: rgb(79 70 229);
    min-width: 100px;

    padding: 0px 20px 0px 20px;

    font-size: 18px;
    text-align: center;
    color: #F0F0F0;
}

.trend-graph-option-default {
    border-style: solid;
    border-width: 3px;
    border-color: #7d7d7d;
    border-radius: 20px;
    min-width: 100px;

    padding: 0px 20px 0px 20px;

    font-size: 18px;
    text-align: center;
    color: #7d7d7d;
}