.trendbar {
    display: flex;
    align-items: center;

    background-color: #0084FF;
    height: 75px;
    flex: 1;
}

.trendbar-title {
    padding: 0px 10px 4px 20px;

    color: white;
    font-size: 30px;
}

.trendbar-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-left: 50px;
}